@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap");
.faq__item-text, .process__item-text, body {
  /* Body (01) */
  font-family: "Manrope", sans-serif, sans-serif;
  color: #1e1b1b;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%; /* 31.5px */
}

.touch__input::-moz-placeholder {
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}

.touch__select, .touch__input::placeholder, .testimonials__person-location, .article__text, .article__date, .process__text {
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}

.blog__title, .experience__list-item span, .title {
  /* Heading (h2) */
  font-size: 58px;
  font-weight: 800;
  line-height: 76px; /* 131.034% */
  letter-spacing: -1.74px;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1310px;
  padding: 0 15px;
  height: 100%;
}

.title_text_center {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 16px 40px;
  border-radius: 12px;
  background: var(--Primary, #ff6433);
  color: #fff;
  transition: all 0.7s;
}
.button_color_black {
  background: var(--Black, #1e1b1b);
  color: #fff;
}
.button:hover {
  transition: all 0.3s;
  transform: scale(1.05);
}

.header {
  height: 100vh;
}
.header__inner {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
  white-space: nowrap;
}
.header__nav {
  margin-left: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.header__nav-list {
  display: flex;
  align-items: center;
  margin-right: 32px;
}
.header__nav-list::after {
  content: "";
  display: block;
  width: 1px;
  height: 42px;
  opacity: 0.36;
  background: #939191;
}
.header__list-item {
  margin-right: 40px;
}
.header__list-item:last-child {
  margin-right: 32px;
}
.header__item-link {
  transition: all 0.3s;
}
.header__item-link:hover {
  color: #939191;
}
.header__contacts {
  display: flex;
  align-items: center;
}
.header__contacts-box {
  text-align: center;
  margin-left: 14px;
}
.header__contacts-descr {
  opacity: 0.7;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.header__contacts-link {
  font-size: 18px;
  font-weight: 600;
  line-height: 175%; /* 31.5px */
  transition: all 0.3s;
}
.header__contacts-link:hover {
  color: #939191;
}

.hero-section {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-section__content {
  margin-right: 30px;
}
.hero-section__content-title {
  font-size: 64px;
  font-weight: 800;
  line-height: 84px; /* 131.25% */
  letter-spacing: -1.92px;
  margin-bottom: 32px;
  max-width: 632px;
}
.hero-section__content-btn-box {
  margin-bottom: 50px;
}
.hero-section__content-btn {
  margin-right: 50px;
}
.hero-section__content-popup-btn {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  transition: all ease 0.3s;
}
.hero-section__content-popup-btn::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../images/icons/Playicon.svg) 0 0/100% no-repeat;
  margin-right: 8px;
}
.hero-section__content-popup-btn::after {
  content: "";
  flex-basis: 100%;
  display: block;
  margin-top: 2px;
  width: 100%;
  height: 1px;
  background: #000;
  opacity: 0;
  transition: all 0.7s;
}
.hero-section__content-popup-btn:hover:after {
  transition: all 0.3s;
  opacity: 1;
}
.hero-section__content-info {
  display: flex;
  align-items: center;
}
.hero-section__info-item {
  margin-left: 13px;
}
.hero-section__info-item span {
  color: var(--Grey, #939191);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.hero-section__image-box {
  max-height: 632px;
  position: relative;
}
.hero-section__image-box img {
  width: 100%;
  height: 100%;
}
.hero-section__tab {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px; /* 150% */
  letter-spacing: -0.72px;
  position: absolute;
  border-radius: 59px;
  border: 12px solid rgba(225, 225, 225, 0.43);
  background: #fff;
  box-shadow: 0px 28px 118px 0px rgba(109, 108, 115, 0.12);
  display: flex;
  align-items: center;
}
.hero-section__service {
  padding: 9px;
  top: 10%;
  left: -10%;
}
.hero-section__service-title {
  font-size: 24px;
  line-height: 36px; /* 150% */
  letter-spacing: -0.72px;
  margin-left: 15px;
}
.hero-section__rating {
  padding: 24px;
  bottom: 10%;
  right: -10%;
}
.hero-section__rating-content {
  color: #000;
  text-align: center;
}
.hero-section__rating-content-span {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.7;
}

.offer {
  background: var(--Light-Grey, #f2f2f2);
  padding: 128px 0;
}
.offer__inner {
  display: flex;
  flex-direction: column;
}
.offer__top {
  margin: 0 auto;
  max-width: 860px;
  text-align: center;
  margin-bottom: 64px;
}
.offer__top-descr {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px; /* 150% */
  letter-spacing: -0.72px;
}
.offer__list {
  display: grid;
  grid-template: repeat(2, auto)/repeat(4, 1fr);
  gap: 8px;
  margin-bottom: 32px;
}
.offer__list-item {
  max-width: 316px;
  height: 212px;
  background: #fff;
}
.offer__item-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1.3s;
}
.offer__item-link:hover {
  transition: all 0.3s;
  background: var(--Primary, #ff6433);
  color: #fff;
}
.offer__item-link:hover path {
  transition: all 0.3s;
  fill: #fff;
}
.offer__item-link svg {
  margin-bottom: 16px;
}
.offer__item-text {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px; /* 150% */
  letter-spacing: -0.72px;
}
.offer__learn {
  display: inline-flex;
  align-items: center;
  align-self: flex-end;
  transition: all 0.7s;
}
.offer__learn:hover {
  color: #454545;
}
.offer__learn::after {
  content: "";
  display: inline-block;
  width: 53px;
  height: 16px;
  background: url(../images/icons/arrow-right.svg) 0 0/100% no-repeat;
  margin-left: 16px;
}

.process {
  padding: 134px 0;
}
.process__inner {
  display: flex;
}
.process__left {
  margin-right: 131px;
  max-width: 524px;
}
.process__title {
  margin-bottom: 16px;
}
.process__text {
  margin-bottom: 32px;
  opacity: 0.6;
}
.process__right {
  max-width: 432px;
}
.process__list-item {
  padding-left: 96px;
  position: relative;
}
.process__list-item:not(:last-child) {
  margin-bottom: 16px;
}
.process__list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 72px;
  height: 72px;
  transform: translateY(-15%);
}
.process__list-item:nth-child(1)::before {
  background: url(../images/icons/process1.svg) 0 0/100% no-repeat;
}
.process__list-item:nth-child(2)::before {
  background: url(../images/icons/process2.svg) 0 0/100% no-repeat;
}
.process__list-item:nth-child(3)::before {
  background: url(../images/icons/process3.svg) 0 0/100% no-repeat;
}
.process__list-item:not(:last-child)::after {
  content: "";
  display: inline-block;
  height: 72px;
  width: 2px;
  position: absolute;
  bottom: 5px;
  left: 36px;
  background: url(../images/icons/Line.svg) 0 0/100% no-repeat;
}
.process__item-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px; /* 150% */
  letter-spacing: -0.96px;
  margin-bottom: 8px;
}
.process__item-text {
  opacity: 0.6;
}

.cta {
  background: url(../images/content/cta-img1.jpg) left top/50% 100% no-repeat, url(../images/content/cta-img2.jpg) right top/50% 100% no-repeat;
}
.cta__box {
  padding: 128px 80px;
  background: #ff6433;
  max-width: 730px;
}
.cta__title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 140%; /* 67.2px */
  letter-spacing: -1.44px;
  max-width: 570px;
  margin-bottom: 48px;
}

.experience {
  background-color: #f2f2f2;
  padding: 48px 0;
}
.experience__list {
  display: flex;
  justify-content: space-between;
}
.experience__list-item span {
  color: var(--Secondary, #661ce7);
}
.experience__item-text {
  opacity: 0.7;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px; /* 150% */
  letter-spacing: -0.72px;
}

.brands {
  padding: 128px 0 80px;
  background: #e2e6e9;
}
.brands__title {
  margin-bottom: 32px;
}
.brands__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}
.brands__list-item {
  transition: all 0.3s;
}
.brands__list-item:hover {
  cursor: pointer;
}
.brands__list-item:hover path {
  fill: #454545;
}

.blog {
  padding: 135px 0;
}
.blog__title {
  margin-bottom: 47px;
}
.blog__filter-row {
  display: flex;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px; /* 150% */
  letter-spacing: -0.96px;
  margin-bottom: 46px;
}
.blog__filter-btn:not(:last-child) {
  margin-right: 30px;
}
.blog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px 32px;
}
.article__image-box {
  margin-bottom: 24px;
}
.article__image-box img {
  width: 100%;
  height: 100%;
}
.article__date {
  color: var(--Grey, #939191);
  margin-bottom: 16px;
}
.article__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px; /* 150% */
  letter-spacing: -0.96px;
  margin-bottom: 16px;
}
.article__text {
  color: var(--Black, #232536);
}

.testimonials {
  padding: 128px 0;
  background: var(--Light-Grey, #f2f2f2);
  mix-blend-mode: multiply;
}
.testimonials__title {
  max-width: 910px;
  margin: 0 auto;
  margin-bottom: 76px;
}
.testimonials__slider {
  margin: 0 -45px;
}
.testimonials .slick-slide {
  margin: 0 45px;
}
.testimonials__slider-item {
  padding: 72px;
  border-radius: 6px;
  border: 1px solid rgba(172, 172, 172, 0.29);
  background: #fff;
  box-shadow: 11px 130px 100px 30px rgba(0, 0, 0, 0.02);
}
.testimonials__person {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.testimonials__person-image-box {
  margin-right: 16px;
}
.testimonials__person-image-box img {
  border-radius: 50%;
}
.testimonials__person-name {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
  letter-spacing: -0.72px;
}
.testimonials__person-location {
  color: var(--Grey, #939191);
}
.testimonials__item-text {
  max-width: 472px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px; /* 150% */
  letter-spacing: -0.72px;
}
.testimonials .slick-dots {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.testimonials .slick-dots li {
  display: block;
}
.testimonials .slick-dots li.slick-active button {
  background: #ff6433;
}
.testimonials .slick-dots li:not(:last-child) {
  margin-right: 15px;
}
.testimonials .slick-dots li:hover {
  cursor: pointer;
}
.testimonials .slick-dots li:hover button {
  background: #515050;
}
.testimonials .slick-dots button {
  font-size: 0;
  display: inline-block;
  width: 32px;
  height: 4px;
  background: #939191;
}
.testimonials__arrows {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.testimonials__arrows .prev {
  margin-right: 8px;
}
.faq {
  padding: 128px 0;
  background: var(--Steelgrey, #e2e6e9);
}
.faq__title {
  margin-bottom: 86px;
}
.faq__accordeon-item {
  padding: 40px;
  background-color: #fff;
  transition: all 0.3s;
}
.faq__accordeon-item:hover {
  cursor: pointer;
}
.faq__accordeon-item p {
  display: none;
}
.faq__accordeon-item:not(:last-child) {
  margin-bottom: 8px;
}
.faq__accordeon-item_text_hidden .faq__item-title::after {
  content: "+";
}
.faq__item-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px; /* 150% */
  letter-spacing: -0.72px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq__item-title::after {
  content: "-";
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #ff6433;
  font-size: 40px;
  line-height: 50px;
}
.faq__item-text {
  color: #939191;
  max-width: 700px;
}

.touch {
  padding: 121px 0 500px;
}
.touch__inner {
  display: flex;
  justify-content: space-between;
}
.touch__left {
  margin-right: 30px;
  max-width: 624px;
  flex: 1 1 auto;
}
.touch__title {
  margin-bottom: 48px;
  max-width: 500px;
  font-size: 64px;
  font-weight: 800;
  line-height: 84px; /* 131.25% */
  letter-spacing: -1.92px;
}
.touch__form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.touch__input {
  padding: 23px 40px;
  border-radius: 2px;
  background: var(--Light-Grey, #f2f2f2);
}
.touch__input::-moz-placeholder {
  color: var(--Black, #1e1b1b);
}
.touch__input::placeholder {
  color: var(--Black, #1e1b1b);
}
.touch__select {
  padding: 23px 40px;
  border-radius: 2px;
  background: var(--Light-Grey, #f2f2f2);
  color: var(--Black, #1e1b1b);
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}
.touch__btn {
  align-self: flex-start;
  margin-top: 44px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%; /* 31.5px */
}
.touch__right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-right: 40px;
}
.touch__info-title {
  opacity: 0.7;
  /* Body 02 */
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
.touch__info-text {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px; /* 150% */
  letter-spacing: -0.72px;
}

.map {
  min-height: 448px;
  background: url(../images/content/mapBG.jpg) center center/cover no-repeat;
}
.map #map {
  width: 100%;
  height: 512px;
  transform: translateY(-60%);
}
.map ymaps {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.footer__top {
  padding: 128px 0;
  background-color: rgba(30, 27, 27, 0.98);
  color: #fff;
}
.footer__top-inner {
  display: flex;
}
.footer__left {
  margin-right: 30px;
  max-width: 463px;
}
.footer__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 140%; /* 67.2px */
  letter-spacing: -1.44px;
  margin-bottom: 64px;
}
.footer__socials-list {
  display: flex;
  align-items: center;
}
.footer__list-item:not(:last-child) {
  margin-right: 24px;
}
.footer__list-link {
  transition: all 0.6s ease;
}
.footer__list-link:hover path {
  fill: #232536;
}
.footer__right {
  margin: 0 160px 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer__info-title {
  opacity: 0.6;
  font-size: 18px;
  font-weight: 600;
  line-height: 175%;
  margin-bottom: 8px;
}
.footer__info-text {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px; /* 150% */
  letter-spacing: -0.72px;
}
.footer__bottom {
  background: var(--Black, #1e1b1b);
  padding: 65px 0;
}
.footer__bottom-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
.footer__nav-list {
  display: flex;
  align-items: center;
}
.footer__nav-item:not(:last-child) {
  margin-right: 36px;
}
.footer__cpr {
  color: #939191;
}/*# sourceMappingURL=style.css.map */